<!DOCTYPE html>
<html>
<head>
    <!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
    
<title>Our Page</title>
</head>

<body>
<!--
	<div id="pointsSVG">
	</div>
-->
    <h1> Welcome to CS Comps Project Page </h1>
    <p>We are the Hero-Villain-Victim Group</p>

    <form action = "getURL" method = "post">
    <label for="url" style="color:red">
        <br>Please enter a URL:</label>
    <br>
    <input type="text" name="url"> <br>
    <br>
    <input type = "submit">
    </form>
    
    

    <script >console.log("hi"); 
//        var numPts = {{ url }};
    </script>

	<script type="text/javascript" src="{{ url_for("static", filename="test.js")}}"></script>

</body>


</html>
